.git
.gitignore
.dockerignore
.env
.env.*
**/.env
**/.env.*
*.sqlite3
*.sqlite3-*
**/*.sqlite3
**/*.sqlite3-*
**/__pycache__
**/*.py[cod]
**/.pytest_cache
**/.mypy_cache
**/.ruff_cache
tests
conftest.py
config/test_settings.py
.vnc
**/.vnc
ibc
**/ibc/config.ini
Jts
README.md
pytest.ini
