PORT=8080
APP_BASE_PATH=/trading_eng_gateway
PUBLIC_BASE_URL=https://qfsplatform.com/trading_eng_gateway
FORWARDED_ALLOW_IPS=*
DJANGO_SECRET_KEY=replace-me
GATEWAY_SERVICE_TOKEN=replace-with-a-long-random-token
IB_USERNAME=
IB_PASSWORD=
IBKR_CLIENT_ID=17
BROKER_ADAPTER=ib_async
BROKER_REFRESH_SECONDS=5
TWS_MAJOR_VRSN=1045
NOVNC_PASSWORD=replace-me
IBC_AUTO_RESTART_TIME=11:45 PM
IBC_2FA_TIMEOUT=180
GATEWAY_DB_PATH=/data/gateway.sqlite3
